body {
  background-color: white;
  color: black;
}

div.noscroll {
  background-color: white;
}

div.tooltip {
  border: 1px solid #999;
  background-color: #eee;
}

.flot-text {
  color: #111 !important;
}

/* menu buttons */
div.trafgrapher div.selection select,
div.trafgrapher div.selection input,
div.trafgrapher div.selection button {
  -webkit-filter: invert(100%);
  -ms-filter: invert(100%);
  filter: invert(100%);
  border: 1px solid #eee;
  box-shadow: 0px 0px 1px #bbb;
}
/* checkbox */
div.trafgrapher input {
  -webkit-filter: invert(100%);
  -ms-filter: invert(100%);
  filter: invert(100%);
}
